*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .form{
        width: 300px;
        display: flex;
        flex-direction:column;
        gap: 10px;
    }
    .title{
        text-align: center;
    }
    
    .auth-buttons{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .button{
        padding: 5px 10px;
        border-radius: 50%;
       /* margin: 0 10px*/
    }
    .help-link{
    text-align: center;

    }